<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="threads.server">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:name="threads.server.Application"
        tools:ignore="GoogleAppIndexingWarning"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ThreadsServerTheme">
        <activity
            android:name="threads.server.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ThreadsServerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".DonationActivity"
            android:label="@string/title_activity_donation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsServerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="threads.server.MainActivity" />
        </activity>
        <service
            android:name="threads.server.DaemonService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>